@import "tailwindcss";
/* The following line can be included in a src/App.scss */
/* footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  position: fixed;
  width: 100%;
}